table,th, td {
    border: 1px ;
    border-radius: 10px;
    
  }
#Hola{
    text-align: center;
}
.tabla{
  width:90%
}

footer{
  margin-top: 50px;
  width: 100%;
  height: 200%;

}
